main{

padding:35px;

}

.descripcion{

margin-top:10px;

color:#666;

}

.contenedor-cursos{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:25px;

margin-top:35px;

}

.curso-card{

background:white;

padding:25px;

border-radius:15px;

cursor:pointer;

box-shadow:0 10px 20px rgba(0,0,0,.12);

border-left:6px solid #980000;

transition:.35s;

}

.curso-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 30px rgba(0,0,0,.18);

}

.curso-card h3{

margin-bottom:15px;

color:#980000;

}

.curso-card p{

margin-bottom:20px;

font-size:15px;

}

.estado{

display:inline-block;

padding:8px 18px;

border-radius:30px;

font-size:13px;

font-weight:bold;

}

.aprobado{

background:#dff8e6;

color:#0b7a35;

}