/* ===========================
   INICIO PORTAL UTP
=========================== */


main{

    padding:35px;

}



/* NOTICIAS */

.cards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    margin-top:20px;

}


.card{

    background:white;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

    transition:.3s;

}


.card:hover{

    transform:translateY(-8px);

}


.card img{

    width:100%;

    height:180px;

    object-fit:cover;

}


.card h4{

    padding:15px;

}



/* APPS */

.apps{

    margin-top:40px;

}


.logos{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:70px;

    margin-top:25px;

    font-size:50px;

    text-align:center;

}


.logos div{

    min-width:100px;

}



/* CONTACTO */

.contacto{

    margin-top:40px;

    font-size:14px;

    color:#666;

    line-height:28px;

}



/* ===========================
      TABLETS
=========================== */

@media(max-width:900px){


    main{

        padding:25px;

    }


    .cards{

        grid-template-columns:repeat(2,1fr);

    }


    .logos{

        gap:35px;

        font-size:40px;

    }


}



/* ===========================
      CELULARES
=========================== */

@media(max-width:600px){


    main{

        padding:15px;

    }



    .cards{

        grid-template-columns:1fr;

        gap:15px;

    }



    .card img{

        height:160px;

    }



    .apps{

        margin-top:30px;

    }



    .logos{

        flex-direction:column;

        gap:25px;

        font-size:40px;

    }



    .contacto{

        font-size:13px;

        line-height:24px;

    }



}

