.sidebar{

position:fixed;

left:0;

top:0;

width:230px;

height:100vh;

background:#8d0000;

padding-top:30px;

}

.sidebar h2{

text-align:center;

color:white;

margin-bottom:40px;

}

.sidebar a{

display:block;

padding:18px 25px;

color:white;

transition:.3s;

}

.sidebar a:hover{

background:#6f0000;

padding-left:35px;

}

.activo{

background:#6f0000;

}

.contenido{

margin-left:230px;

min-height:100vh;

background:#f2f2f2;

}

header{

height:70px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.usuario{

position:relative;

}

#perfilBtn{

background:#8d0000;

color:white;

padding:10px 18px;

border-radius:8px;

}

#menuPerfil{

display:none;

position:absolute;

right:0;

top:55px;

background:white;

border-radius:10px;

box-shadow:0 8px 20px rgba(0,0,0,.2);

width:220px;

overflow:hidden;

}

#menuPerfil a{

display:block;

padding:15px;

}

#menuPerfil a:hover{

background:#f2f2f2;

}

footer{

text-align:center;

padding:20px;

font-size:13px;

color:#777;

}